.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

input {
    text-align: center;
}
