.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    text-align: center;
}

a {
    text-decoration:none;
}

h1 {
    margin: 20px;
}

h3 {
    margin-bottom: 10px;
}

#amount {
    margin-top: 10px;
}

form {
    border: solid 1px rgb(198, 193, 193);
    padding: 7px;
    /* text-align:left; */
}

input {
    display: inline-block;
}
